/* Import partial files */
/* Site Variables COLORS */
/* Typography */
@import url(https://fonts.googleapis.com/css?family=Lobster|Cabin);
h1, h2, h3, h4, h5, h6, p {
  font-family: "Cabin", sans-serif; }

.fancy {
  font-family: "Lobster", serif; }

a {
  color: #660066;
  text-decoration: none; }

a:hover {
  color: #330033; }

.active {
  color: #333333; }

#nav {
  margin-bottom: 0;
  padding-top: 10px; }
  #nav li {
    display: inline-block;
    font-family: "Lobster", serif;
    font-size: 2.5rem;
    list-style-type: none; }
  #nav li:after {
    content: "|";
    font-family: "Lobster"; }
  #nav li:last-child:after {
    content: ""; }

#cabin {
  font-family: "Cabin", sans-serif; }

/* Structure - WHAT PIECES DO and their QUERIES*/
html {
  background-color: #F2F2F2; }

body {
  margin: 0; }

.hero {
  margin-top: 20px; }

.header {
  background-color: #FFFFFF;
  padding-top: 10px; }
  @media (max-width: 820px) {
    .header .six.columns {
      float: left;
      margin-left: 0px;
      width: 98%; } }
  @media (min-width: 820px) {
    .header #nav {
      float: right; } }

.box {
  background-color: #FFFFFF;
  border-radius: 5px;
  height: 200px;
  width: 200px;
  float: left;
  margin-top: 10px;
  margin-left: 10px; }
  .box h4 {
    padding-top: 75px;
    text-align: center; }
  @media (min-width: 1024px) {
    .box {
      height: 250px;
      width: 250px;
      margin-left: 15px; } }
  @media (max-width: 550px) {
    .box {
      margin-left: 60px; } }

.footer {
  background: url("images/background.png");
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem; }
  .footer p {
    margin-top: 50px;
    margin-right: 30px; }
  @media (max-width: 548px) {
    .footer {
      position: relative; } }

#moving-footer {
  position: relative; }

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }

#border {
  border: solid 1px #333333; }

.mobile {
  height: 500px; }

img {
  margin-bottom: 20px; }

.movedown {
  margin-top: 10px; }

#logo {
  margin-bottom: 0px; }

/* Header */
/* Sections */
/* Buttons */
.btn {
  background: #F2F2F2;
  color: #333333;
  display: inline-block; }

/* Footer */
